<div id="root">{{{data.html}}}</div>
<script>
	window.__PRELOADED_STATE__ = {{{ data.preloadedState }}};
	window.__USER_PROFILE__ = {{{ data.user }}};
	window.__LANG__ = {{{ data.lang }}};
	window.__STORE_ID__ = {{{ data.storeId }}};
</script>